/* Dark Gradient Background */
body {
    background-color: hsl(229, 57%, 11%);
    background-image: linear-gradient(135deg, hsl(229, 57%, 11%), hsl(228, 45%, 44%));
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* Light Blue for both Rectangles */
.bg-light-blue {
    background-color: hsl(228, 56%, 26%);